@font-face{
	font-family: Prototype;
	url:("/fonts/Prototype.ttf")
}
html{
	background: #000000;
	color: #ffffff;
	font-family: sans-serif;
}
.header-title{
	font-family: Prototype;
	font-size: 36px;
	color: #ffffff;
	text-decoration: none;
}