@font-face{
	font-family: Prototype;
	url:("/fonts/Prototype.ttf")
}
html{
	background: #000000;
	color: #ffffff;
	font-family: sans-serif;
}
.header-title{
	font-family: Prototype;
	font-size: 36px;
	color: #ffffff;
	text-decoration: none;
}
.header-links{
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
}
.header-links a{
	color: #ffffff;
	font-size: 22px;
	text-decoration: none;
	padding:5px;
}
.block-normal{
	background:#000000;
	border:2px solid #ffffff;
	padding:5px;
}
.block-important{
	background:#AA0000;
	border:2px solid #ffffff;
	padding:5px;
}
.block-title{
	font-family: Prototype;
	font-size: 22px;
	color: #ffffff;
}
.block-date{
	font-family: Prototype;
	font-size: 18px;
	color: #aaaaaa;
}
.block-info{
	font-size: 18px;
	color: #ffffff;
}
.block-top{
	text-decoration:none;
	color:#ffffff;
	border:2px solid #ffffff;
	border-radius:5px;
	padding:5px;
}