@font-face{
	font-family: Prototype;
	url:("/fonts/Prototype.ttf")
}
html{
	background: #000000;
	color: #ffffff;
	font-family: sans-serif;
}
.header-title{
	font-family: Prototype;
	font-size: 36px;
	color: #ffffff;
	text-decoration: none;
}
.header-links{
	border-top:2px solid #ffffff;
	border-bottom:2px solid #ffffff;
}
.header-links a{
	color: #ffffff;
	font-size: 18px;
	text-decoration: none;
}